//변수 색깔 선언
$hotpink: #f875aa;
$yunjadu: #fff6f6;
$jadu: #ffdfdf;
$sky: #aedefc;
$yundo: #f2ffe9;
$ginyundo: #a6cf98;
$malcha: #557c55;
$jamong: #fa7070;

//재사용할 함수 만들기
@mixin square($size) {
  $caculated: 32px * $size;
  width: $caculated;
  height: $caculated;
}

.SassTest {
  display: flex;
  .box {
    background: red;
    cursor: pointer;
    transition: all 0.3s ease-in;

    //현재 요소를 가리키는 & -> box를 가리킴
    &.red {
      background: red;
      //위에서 만든 사각형 sqare함수 재사용
      @include square(1);
    }

    //나머지 6가지 색깔 재사용해서 박스 만들 예정
    &:hover {
      background: black;
    }
  }
}
