.funcComp {
  background-color: blueviolet;
  color: aquamarine;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.body {
  background-color: rgb(226, 43, 165);
}
