.funcComp {
  background-color: blueviolet;
  color: aquamarine;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.body {
  background-color: rgb(226, 43, 165);
  padding: 20px;
}
.count {
  text-align: center;
}
.count2 {
  display: inline-block;
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 300px;
  outline: dashed 1px black;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
