/* #F875AA
#FFDFDF
#FFF6F6
#AEDEFC */

/* #F2FFE9
#A6CF98
#557C55
#FA7070 */

.funcComp {
  background-color: blueviolet;
  color: aquamarine;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.body {
  background-color: #f875aa;
  padding: 20px;
}
header {
  background-color: #a6cf98;
}
footer {
}
.count {
  text-align: center;
}
.count2 {
  display: inline-block;
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 300px;
  outline: dashed 1px black;
}
